<h2 mat-dialog-title class="modalTitle"> Cambiar Contraseña </h2>
<div mat-dialog-content class="container">    
    <div class="datosUsuario">
        <h2>Cambiar Contraseña</h2>
        <div class="txt_field">
            <input type="password" id="pass" class="inpt" autocomplete="off" placeholder=" " [(ngModel)]="password">
            <label for="pass" class="inpt_label">Contraseña</label>
        </div>
        <div class="txt_field">
            <input type="password" id="repPass" class="inpt" autocomplete="off" placeholder=" " [(ngModel)]="password2">
            <label for="repPass" class="inpt_label">Repita contraseña</label>
        </div>
    </div>
</div>
<div mat-dialog-actions class="actions">
    <button class="btn btn-primary-1" (click)="Actualizar()">Actualizar</button>
</div>