:root {
    --primary: #C50E57;
    --ligth: #FF5C6F;
    --dark: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modalTitle {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    font-size: 30px;
}

.container {
    height: auto;
    padding: 25px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerActions{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}

.txt_field{
    margin: 8px 0 !important;
}

p{
    margin: 0;
}

.p_error{
    text-align: center;
    color: red;
}

.ingresar{
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    height: 36px;
}