<h1 class="modalTitle" mat-dialog-title> Iniciar Sesión </h1>
<div mat-dialog-content class="container">
    <div class="txt_field">
        <input type="text" id="usuario" class="inpt" autocomplete="off" placeholder="  " [(ngModel)]="userName">
        <label for="usuario" class="inpt_label">Usuario</label>
    </div>
    <div class="txt_field">
        <input type="password" id="contrasenia" class="inpt" autocomplete="off" placeholder="  " [(ngModel)]="pass">
        <label for="contrasenia" class="inpt_label">Contraseña</label>
    </div>
    <p class="p_error" [ngStyle]="{display: error}">Usuario y/o Contraseña incorrectos</p>
</div>
<div mat-dialog-actions class="containerActions">
    <p class="p_link" (click)="openRecuperarContrasenia()">¿Olvidaste tu contraseña?</p>
    <button class="btn btn-primary-1 ingresar" (click)="autenticarUsuario()">Ingresar</button>
    <p class="p_link" (click)="openRegistrarUsuario()">¿No tienes cuenta? <br> ¡Registrate ahora!</p>
</div>