<div class="right">
  <div class="top">
    <button id="menu-btn">
      <i class="uil uil-bars"></i>
    </button>
    <div class="theme-toggler">
      <i class="uil uil-sun active"></i>
      <i class="uil uil-moon"></i>
    </div>
    <div class="profile">
      <div class="info">
        <p>Bienvenido, <b>{{usuario.nombre}} {{usuario.primerApellido}}</b></p>
        <small class="text-muted">Administrador</small>
      </div>
      <div class="profile-photo">
        <img src="http://localhost:8080/auth/user/img/{{usuario.imagen}}" alt="">
      </div>
    </div>
  </div>
  <!-- END TOP -->

  <div class="recent-updates">
    <h2>Actualizaciones recientes</h2>
    <div class="updates">
      <div class="update">
        <div class="profile-photo">
          <img src="../../../../../assets/image/ivana-squares.jpg" alt="">
        </div>
        <div class="message">
          <p><b>Mike Tyson</b> Hola mundo.</p>
          <small class="text-muted">En este momento</small>
        </div>
      </div>
      <div class="update">
        <div class="profile-photo">
          <img src="../../../../../assets/image/team-4.jpg" alt="">
        </div>
        <div class="message">
          <p><b>Mike Tyson</b> Reporte a Juan.</p>
          <small class="text-muted">Hace 2 minutos</small>
        </div>
      </div>
    </div>
  </div>
  <!-- END RECENT UPDATES -->

  <div class="sales-analytics">
    <h2>Sales Analytics</h2>
    <div class="item online">
      <div class="icon">
        <i class="uil uil-shopping-cart-alt"></i>
      </div>

      <div class="right">
        <div class="info">
          <h3>Ventas realizadas</h3>
          <small class="text-muted">Últimas 24 Horas.</small>
        </div>
        <h5 class="success">+39%</h5>
        <h3>3456</h3>
      </div>
    </div>

    <!-- <div class="item offline">
      <div class="icon">
        <i class="uil uil-shopping-bag"></i>
      </div>

      <div class="right">
        <div class="info">
          <h3></h3>
          <small class="text-muted">Últimas 24 horas</small>
        </div>
        <h5 class="danger">-17%</h5>
        <h3>1100</h3>
      </div>
    </div> -->

    <div class="item customers">
      <div class="icon">
        <i class="uil uil-user"></i>
      </div>

      <div class="right">
        <div class="info">
          <h3>Nuevos Usuarios</h3>
          <small class="text-muted">Last 24 Hours</small>
        </div>
        <h5 class="success">+25%</h5>
        <h3>849</h3>
      </div>
    </div>

    <!-- <div class="item add-product">
      <div>
        <i class="uil uil-plus"></i>
        <h3>Add Product</h3>
      </div>
    </div> -->
  </div>
</div>