:root {
  --primary: #C50E57;
  --primary-1: #E0416E;
  --ligth: #FF5C6F;
  --dark: #000;
  --infoDark: #7D8DA1;
  --infoDark: #b7bdc4;

  --box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 0.87rem;
  margin-bottom: 0;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.77rem;
}

small {
  font-size: 0.75rem;
}

.text-muted {
  color: #7D8DA1;
}

p {
  color: #7D8DA1;
}

b {
  color: #7D8DA1;
}

/* MAIN */

main {
  margin-top: 1.4rem;
  color: var(--dark);
}

main .date {
  display: inline-block;
  background: #b7bdc4;
  border-radius: 15px;
  margin-top: 1rem;
  padding: 0.5rem 1.6rem;
}

main .date input[type='date'] {
  border: 0;
  background: transparent;
  color: var(--dark);
}

main .insights {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

main .insights>div {
  background: white;
  padding: 20px;
  border-radius: 15px;
  margin-top: 1rem;
  box-shadow: 0 5px 25px rgba(0, 0, 0, .2);;
  transition: all 300ms ease;
}

main .insights>div:hover {
  box-shadow: none;
}

main .insights>div i {
  background: var(--primary);
  padding: 10px;
  border-radius: 50%;
  color: white;
  font-size: 24px;
}

main .insights>div.expenses i {
  background: var(--primary-1);
}

main .insights>div.income i {
  background: var(--ligth);
}

main .insights>div .middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .insights h3 {
  margin: 1rem 0 0.6rem;
  font-size: 1rem;
}

main .insights .progress {
  position: relative;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

main .insights svg {
  width: 7rem;
  height: 7rem;
}

main .insights svg circle {
  fill: none;
  stroke: var(--primary);
  stroke-width: 14;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  stroke-dasharray: 110;
  stroke-dashoffset: 92;
}

main .insights .sales svg circle {
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}

main .insights .expenses svg circle {
  stroke-dashoffset: 20;
  stroke-dasharray: 80;
}

main .insights .income svg circle {
  stroke-dashoffset: 35;
  stroke-dasharray: 110;
}

main .insights .progress .number {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .insights small {
  margin-top: 1.3rem;
  display: block;
}

/* Recent Orders */
main .recent-orders {
  margin-top: 2rem;
}

main .recent-orders h2 {
  margin-bottom: 0.8rem;
}

main .recent-orders table {
  background: white;
  width: 100%;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
  transition: all 300ms ease;
}

main .recent-orders table:hover {
  box-shadow: none;
}

main table tbody td {
  height: 2.8rem;
  border-bottom: 1px solid var(--ligth);
  color: rgb(81, 73, 73);
}

main table tbody tr:last-child td {
  border: none;
}

main .recent-orders a {
  text-align: center;
  display: block;
  margin: 1rem auto;
  color: var(--primary);
}

.warning {
  color: #a7681b !important;
}

.primary {
  color: rgb(64, 64, 200) !important;
}



/* ================= RESPONSIVE ================== */
@media screen and (max-width: 1200px) {
  main .insights {
      grid-template-columns: 1fr;
      gap: 0;
  }

  main .recent-orders {
      width: 94%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin: 2rem 0 0 8.8rem;
  }

  main .recent-orders table {
      width: 80vw;
  }

}

@media screen and (max-width: 768px) {
  main {
    margin-top: 4rem;
    padding: 0 1rem;
  }

  main .recent-orders {
      position: relative;
      width: 100%;
      margin: 3rem 0 0 0;
  }

  main .recent-orders table {
      width: 100%;
      margin: 0;
  }
}