:root {
    --primary: #C50E57;
    --primary-1: #E0416E;
    --ligth: #FF5C6F;
    --dark: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.card_bienvenido {
    width: 550px;
    height: 260px;
    background: #C50E57;
    box-shadow: 5px 0px 10px 5px rgba(0, 0, 0, 0.45);
    border-radius: 25px;
    margin-left: 3pc;
    text-align: center;
    padding: 2pc 5pc;
    position: relative;
}

.card_contenido {
    color: #FFF;
    height: 100%;
}

h3 {
    font-size: 35px;
    margin-bottom: 15px;
    text-align: start;
}

p {
    text-align: justify;
    margin-bottom: 30px;
}

button {
    margin-left: 20px;
    margin-right: 20px;
}

.logo_img {
    animation: movimiento 2.5s linear infinite;
}

.logo_img img {
    width: 600px;
    display: block;
    margin-right: 50px;
}

/*  Figuras - triangulo y circulo */
.triangulo {
    opacity: .3;

    position: absolute;
    bottom: 0;
    left: 15%;

    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #C50E57;

    animation: triangulos 3s linear infinite;
    transform: rotate(-80deg);
}

.triangulo:nth-child(1) {
    left: 35%;
    animation-duration: 3s;
    animation-delay: 2s;
}

.triangulo:nth-child(2) {
    left: 50%;
    animation-duration: 4s;
    animation-delay: 2s;
}

.triangulo:nth-child(3) {
    left: 50%;
    animation-duration: 2s;
    animation-delay: 3s;
}

.triangulo:nth-child(4) {
    left: 90%;
    animation-duration: 3s;
    animation-delay: 2s;
}

.triangulo:nth-child(5) {
    left: 20%;
    animation-duration: 2s;
    animation-delay: 2s;
    
}

@keyframes triangulos {
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}

@keyframes movimiento {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(30px)
    }

    100% {
        transform: translateY(0);
    }
}