<div class="triangulos">
    <div class="triangulo"></div>
    <div class="triangulo"></div>
    <div class="triangulo"></div>
    <div class="triangulo"></div>
    <div class="triangulo"></div>
</div>

<div class="burbujas">
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
</div>

<section class="banner container">
    <section class="card_bienvenido">
        <div class="card_contenido">
            <h3>BIENVENIDO</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia labore dolores facere accusamus error
                sequi! Unde similique fugiat veniam cupiditate repellat inventore minima rerum dicta! Provident
                consequuntur sint optio architecto?</p>
            <button type="button" class="btn btn-primary-3" (click)="openLogin()">Iniciar Sesion</button>
            <button type="button" class="btn btn-secondary-3">Ver Productos</button>
        </div>
    </section>
    
    <div class="logo_img">
        <img src="../../../../assets/image/logo.png" alt="">
    </div>
</section>