:root {
  --primary: #C50E57;
  --ligth: #FF5C6F;
  --dark: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modalTitle {
  text-align: center;
}

.datos p {
  text-align: center;
}

.container {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h2{
  text-align: center;
}

.actions{
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

p{
  margin: 0;
  width: 100%;
}
