<h2 mat-dialog-title class="modalTitle"> Recuperación de la cuenta </h2>
<div mat-dialog-content class="container">
    <div class="datos">
      <p>Para verificar .</p>
        <div class="txt_field">
            <input type="text" id="email" class="inpt" autocomplete="off" placeholder=" ">
            <label for="email" class="inpt_label">Correo electrónico</label>
        </div>
    </div>

    <div mat-dialog-actions class="actions">
      <button class="btn btn-primary-1" >Recuperar</button>
  </div>
</div>