<div class="nav">
    <div class="logo">
        <img *ngIf="responsive" src="../../../../../assets/image/logo.png" alt="Logo de CAMEBOL" title="CAMEBOL">
    </div>

    <div class="navbar">
        <ul>
            <li><a routerLink="/inicio" routerLinkActive="active">Inicio</a></li>
            <li><a routerLink="/quienes" routerLinkActive="active">Quienes Somos</a></li>
            <li><a routerLink="/contacto" routerLinkActive="active">Contacto</a></li>
        </ul>
    </div>

    <button class="menu-collapsed is-active">
        <span>.</span>
        <span>.</span>
        <span>.</span>
    </button>
</div>