:root {
    --primary: #C50E57;
    --ligth: #FF5C6F;
    --dark: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-radius: 15px;
    border: 2px solid var(--primary);
    -webkit-backdrop-filter: saturate(200%) blur(30px);
    backdrop-filter: saturate(200%) blur(30px);
    background-color: rgba(255, 255, 255, 0.8) !important;
    box-shadow: 0 5px 6px -1px rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 6%) !important;
    position: sticky;
    margin: 1rem;
    padding: .5rem;
    top: 1rem;
    overflow: hidden;
    z-index: 1200;
}

.logo img {
    width: 200px;
    height: 55px;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav ul{
    display: none;
    justify-content: flex-end;
}

.nav li{
    display: inline-block;
}

.nav a{
    display: block;
    position: relative;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #C50E57;
    font-size: 18px;
    letter-spacing: 0.5px;
    margin-right: 40px;
    text-align: center;
}

.nav a::before{
    content: "";
    position: absolute;
    background-color: #C50E57;
    height: 4px;
    width: 100%;
    top: 20px;
    left: 0;
    bottom: 0;
    transform: scale(0, 1);
    transition: 0.4s;
}

.nav a:hover::before{
    transform: scale(1, 1);
}

.nav .navbar ul li a.active::before {
    content: "";
    background-color: #C50E57;
    height: 4px;
    width: 100%;
    top: 20px;
    left: 0;
    bottom: 0;
    transform: scale(1, 1);
}

/* Estilos responsive */
.menu-collapsed {
    margin-left: 32px;
    margin-top: 32px;
    display: block;
    position: relative;
    z-index: 1;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.menu-collapsed span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: #FF5C6F;
    border-radius: 6px;
    z-index: 1;
    transform-origin: 0 0;
    transition: 0.4s;
    font: 0px a;
}

.menu a:nth-child(3) {
    margin-right: 32px;
}

.menu-collapsed:hover span:nth-child(2) {
    transform: translateX(10px);
}


.menu-collapsed.is-active:hover span {
    background-color: #C50E57;
}
img {
    width: auto;
    height: 60px;
}

@media (min-width: 568px) {
    .menu-collapsed {
        display: none;
    }

    .nav ul{
        display: flex;
    }
}