:root {
    --primary: #C50E57;
    --ligth: #FF5C6F;
    --dark: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modalTitle {
    text-align: center;
    font-weight: bold;
    margin: 15px 48px 0 48px;
    padding-bottom: 30px;
    font-size: 40px;
}

.container {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.datosPersonales{
    width: 48%;
}

.datosUsuario{
    width: 48%;
}

h2{
    text-align: center;
}

.actions{
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-around;
    text-align: center;
}

p{
    margin: 0;
}
