<h2 mat-dialog-title class="modalTitle"> Nueva Cuenta </h2>
<div mat-dialog-content class="container">
    <div class="datosPersonales">
        <h2>Datos Personales</h2>
        <div class="txt_field">
            <input type="text" id="nom" class="inpt" autocomplete="off" placeholder=" " [(ngModel)]="nombre">
            <label for="nombre" class="inpt_label">Nombre</label>
        </div>
        <div class="txt_field">
            <input type="text" id="apellidoP" class="inpt" autocomplete="off" placeholder=" " [(ngModel)]="primerApellido">
            <label for="apellidoP" class="inpt_label">Apellido paterno</label>
        </div>
        <div class="txt_field">
            <input type="text" id="apellidoM" class="inpt" autocomplete="off" placeholder=" " [(ngModel)]="segundoApellido">
            <label for="apellidoM" class="inpt_label">Apellido materno</label>
        </div>
        <div class="txt_field">
            <input type="date" id="Fecha" class="inpt" autocomplete="off" placeholder=" " [(ngModel)]="fechaNacimiento">
            <label for="Fecha" class="inpt_label">Fecha de nacimiento</label>
        </div>
        <div class="txt_field">
            <input type="text" id="ci" class="inpt" autocomplete="off" placeholder=" " [(ngModel)]="ci">
            <label for="ci" class="inpt_label">C.I.</label>
        </div>
        <div class="txt_field">
            <input type="text" id="telefono" class="inpt" autocomplete="off" placeholder=" " [(ngModel)]="telefono">
            <label for="telefono" class="inpt_label">Número de Celular</label>
        </div>
        <div class="txt_field">
            <select id="genero" class="inpt" [(ngModel)]="genero">
                <option selected>Selecione una opción</option>
                <option value="M">Maculino</option>
                <option value="F">Femenino</option>
                <option value="O">Otros</option>
            </select>
            <label for="genero" class="inpt_label">Género</label>
        </div>
    </div>
    
    <div class="datosUsuario">
        <h2>Datos del Usuario</h2>
        <div class="txt_field">
            <input type="text" id="user_name" class="inpt" autocomplete="off" placeholder=" " [(ngModel)]="nombreUsuario">
            <label for="user_name" class="inpt_label">Nombre de Usuario</label>
        </div>
        <div class="txt_field">
            <input type="text" id="correo" class="inpt" autocomplete="off" placeholder=" " [(ngModel)]="email">
            <label for="correo" class="inpt_label">Correo</label>
        </div>
        <div class="txt_field">
            <input type="password" id="pass" class="inpt" autocomplete="off" placeholder=" " [(ngModel)]="password">
            <label for="pass" class="inpt_label">Contraseña</label>
        </div>
        <div class="txt_field">
            <input type="password" id="repPass" class="inpt" autocomplete="off" placeholder=" " [(ngModel)]="password2">
            <label for="repPass" class="inpt_label">Repita contraseña</label>
        </div>
    </div>
</div>
<div mat-dialog-actions class="actions">
    <button class="btn btn-primary-1" (click)="registrar()">Registrarse</button>
    <p class="p_link" (click)="openLogin()">¿Ya tienes una cuenta? <br> Inicia sesion ahora...</p>
</div>