.body {
  width: 100vw;
  height: 100vh;
  font-size: 0.88rem;
  background: #F6F6F9;
  -webkit-user-select: none;
  user-select: none;
  overflow-x: hidden;
}

.container {
  display: grid;
  height: 100%;
  width: 96%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: repeat(3, 14% 59% 24%);
}

/* ================= RESPONSIVE ================== */
@media screen and (max-width: 1200px) {
  .container {
    width: 94%;
    grid-template-columns: 6rem auto 20rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
  }
}

.router-outlet {
  display: none;
}
