:root {
  --primary: #c50e57;
  --primary-1: #E0416E;
  --ligth: #FF5C6F;
  --dark: #000;
  --infoDark: #7D8DA1;
  --infoDark: #b7bdc4;

  --box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
}

input[type=checkbox] {
  -webkit-appearance: auto;
  appearance: auto;
}

.user-list {
  margin-top: 3.2rem;
  max-height: 100%;
}

.datatable-container {
  position: relative;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 5px 25px rgba(0, 0, 0, .45);
  width: 100%;
  height: 618px;
  margin: 0 auto;
  font-size: 14px;
  color: white;
  overflow: hidden;
}

.datatable-container .header-tools {
  padding: 10px 15px;
  display: flex;
  align-items: baseline;
  background-color: var(--primary);
}

.datatable-container .header-tools .search {
  display: flex;
  flex-direction: row;
  width: 45%;
}

.datatable-container .header-tools .search i {
  font-size: 23px;
  color: var(--primary);
}

.datatable-container .header-tools .search button {
  border: none;
  background-color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.datatable-container .header-tools .search .search-input {
  width: 100%;
  display: block;
  box-sizing: border-box;
  border-radius: 5px 0 0 5px;
  border: none;
  padding: 5px;
}

.datatable-container .header-tools .tools {
  width: 70%;
}

.datatable-container tbody td ul {
  display: flex;
  justify-content: start;
  align-items: baseline;
  margin: 0;
  padding: 0;
}

.datatable-container tbody td ul li {
  display: inline-block;
  margin: 0 5px;
  align-items: baseline;
  font-size: 15px;
}

.datatable-container .footer-tools {
  position: absolute;
  bottom: 0;
  width: 95%;
  padding: 5px 40px 5px 20px;
  display: flex;
  align-items: baseline;
  background-color: var(--primary);
}

.datatable-container .footer-tools .list-items {
  width: 50%;
}

.datatable-container .footer-tools .pages {
  margin-left: auto;
  margin-right: 0;
  width: 0;
}

.datatable-container .footer-tools .pages ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}

.datatable-container .footer-tools .pages ul li {
  display: inline-block;
  margin: 0 5px;
}

.datatable-container .footer-tools .pages ul li button {
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
  color: white;
  transition: all 500ms ease;
  font-size: 20px;
}

.datatable-container tbody td ul li button {
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-radius: 5px;
  background-color: var(--primary);
  cursor: pointer;
  color: white;
  transition: all 500ms ease;
}

.datatable-container .footer-tools .pages ul li button:hover,
.datatable-container tbody td ul li button:hover {
  background: white;
  color: var(--primary);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.datatable-container .footer-tools .pages ul li span.active {
  background-color: var(--ligth);
  border-radius: 5px;
  color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.datatable-container .footer-tools .pages ul li button,
.datatable-container .footer-tools .pages ul li span,
.datatable-container tbody td ul li button {
  padding: 5px;
}

.datatable-container .datatable {
  border-collapse: collapse;
  width: 100%;
}

.datatable-container .datatable th {
  width: 25%;
  padding: 10px 10px;
  font-size: 18px;
  background-color: var(--ligth);
  text-align: left;
}

.datatable-container .datatable tbody td {
  width: 20%;
  color: black;
  border-bottom: 1px solid #c50e57;
  padding: 10px 10px;
}

.datatable-container .datatable tbody tr:hover {
  background-color: var(--primary-1);
}

.datatable-container .datatable tbody tr:hover td {
  color: white;
}

.datatable-container .datatable .table-checkbox {
  text-align: center;
}

tr td span {
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.available {
  background-color: #b5e48c;
}

.offline {
  background-color: #d90429;
}

.away {
  background-color: #78c6a3;
}