<div class="user-list">
  <h1>Lista de Usuarios</h1>
  <div class="datatable-container">
    <div class="header-tools">
      <div class="tools">
        <ul>
          <li><button (click)="crearUsuario()"><i class="uil uil-plus-circle"></i></button></li>
        </ul>
      </div>

      <div class="search">
        <input type="text" class="search-input" placeholder="Buscar.." #txtSearch (keyup)="searchUser(txtSearch.value)">
        <button class="btn-search">
          <i class="uil uil-search"></i>
        </button>
      </div>
    </div>

    <table id="datatable" class="datatable">
      <thead>
        <tr>
          <th>Nombre Completo</th>
          <th>Nombre Usuario</th>
          <th>Email</th>
          <th>Número</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios | filter: show_page : page : search">
          <td>{{usuario.nombre}} {{usuario.primerApellido}} {{usuario.segundoApellido}}</td>
          <td>{{usuario.nombreUsuario}}</td>
          <td>{{usuario.email}}</td>
          <td>{{usuario.numeroTelefono}}</td>
          <td>
            <ul>
              <li><button (click)="editarUsuario(usuario.id, usuario.nombre, usuario.primerApellido,usuario.segundoApellido,usuario.fechaNacimiento,usuario.numeroTelefono,usuario.ci,usuario.email,usuario.imagen)"><i class="uil uil-pen"></i></button></li>
              <li><button (click)="eliminarUsuario(usuario.id, usuario.nombre, usuario.primerApellido,usuario.segundoApellido,usuario.fechaNacimiento,usuario.numeroTelefono,usuario.ci,usuario.email)"><i class="uil uil-trash"></i></button></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
    
    <div class="footer-tools">
      <div class="list-items">
        Mostrar
        <select name="n-entries" id="n-entries" class="n-entries" title="show" #entries (change)="showChanged(entries.value)">
          <option value="5">5</option>
          <option value="10">10</option>
        </select>
        entries
      </div>
      <div class="pages">
        <ul>
          <li><button (click)="firstPage()"><i class="uil uil-previous"></i></button></li>
          <li><button (click)="prevPage()" [disabled]="page === 0"><i class="uil uil-angle-left"></i></button></li>
          <li><button (click)="nextPage()" [disabled]="(usuarios | filter: show_page : page : search).length === 0"><i class="uil uil-angle-right"></i></button></li>
          <li><button (click)="lastPage()"><i class="uil uil-step-forward"></i></button></li>
        </ul>
      </div>
    </div>
  </div>
</div>