<h1 mat-dialog-title class="modalTitle">Eliminar Usuario</h1>
<div mat-dialog-content class="container">
  ¿Está seguro de que desea eliminar al usuario <span> {{ nombre }}? </span>
</div>
<div mat-dialog-actions class="actions">
  <button class="btn btn-primary-1" (click)="eliminar()"><i class="uil uil-check"></i></button>
  <button class="btn btn-primary-1" (click)="cancelar()"><i class="uil uil-times"></i></button>
</div>