:root {
  --primary: #C50E57;
  --ligth: #FF5C6F;
  --dark: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modalTitle {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.container {
  text-align: center;
}

.container span {
  font-weight: bold;
}

.actions {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  font-size: 20px;
}

.actions button {
  width: auto;
  height: auto;
  padding: .7rem;
  border-radius: 50%;
}

.actions button:hover {
  width: auto;
  height: auto;
  padding: .7rem;
  border-radius: 50%;
  background-color: white;
  color: var(--primary);
  border: 1px solid;
  border-color: var(--primary);
}