/* @import "~bootstrap/dist/css/bootstrap.css"; */

:root {
    --primary: #C50E57;
    --primary-1: #E0416E;
    --ligth: #FF5C6F;
    --dark: #000;
    --grey: #676666;
}

* {
    outline: 0;
    appearance: none;
    text-decoration: none;
    list-style: none;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Estilos de botones */
.btn {
    width: 130px;
    height: 35px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    filter: drop-shadow(7px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-primary-1 {
    background-color: #C50E57;
    border: none;
    color: #FFF;
}

.btn-primary-2 {
    background-color: #E0416E;
    border: none;
    color: #FFF;
}

.btn-primary-3 {
    background-color: #FF5C6F;
    border: none;
    color: #FFF;
}

.btn-secondary-1 {
    border: 2px solid #C50E57;
    color: #C50E57;
}

.btn-secondary-2 {
    border: 2px solid #E0416E;
    color: #E0416E;
}

.btn-secondary-3 {
    border: 2px solid #FF5C6F;
    color: #FF5C6F;
}

/* --- Fin estilo botones --- */

/* Estilo de inputs */
.inpt {
    width: 100%;
    height: 35px;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.70);
    color: inherit;
    outline: none;
    background: none;
    position: absolute;
    padding-left: 14px !important;
}

.inpt:hover {
    border-color: #E0416E;
    transition: 0.8s;
}

.inpt:focus {
    border-color: #C50E57;
}

.inpt_label {
    left: 14px;
    top: 8px;
    color: #676666;
    background-color: #FFF;
    cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in,
        font-size 200ms ease-in;
    position: absolute;
}

.txt_field {
    position: relative;
    height: 30px;
    width: 100%;
    margin: 15px 0 !important;
}

.inpt:focus~.inpt_label,
.inpt:not(:placeholder-shown).inpt:not(:focus)~.inpt_label {
    top: -10px;
    font-size: 12px;
    left: 10px;
    font-weight: bold;
    padding: 0 5px;
    color: #C50E57;
}

/* --- Fin estilo inputs --- */

/* Estilo <p> */
.p_link:hover {
    color: rgb(45, 45, 192);
    cursor: pointer;
}

/* --- Fin estilo <p> --- */