<h2 mat-dialog-title class="modalTitle"> Editar Usuario </h2>
<div mat-dialog-content class="container">
    <div class="datosPersonales">

        <!-- imagen -->

        <div class="img_field">
          <img width="50" height="50" src="http://localhost:8080/auth/user/img/{{imagen}}" alt="Foto de perfil del usuario">
        </div>

        <div class="txt_field">
            <input type="text" id="nombre" class="inpt" autocomplete="off" placeholder=" " [(ngModel)]="nombre">
            <label for="nombre" class="inpt_label">Nombre</label>
        </div>
        <div class="txt_field">
            <input type="text" id="apellidoP" class="inpt" autocomplete="off" placeholder=" " [(ngModel)]="primerApellido">
            <label for="apellidoP" class="inpt_label">Apellido paterno</label>
        </div>
        <div class="txt_field">
            <input type="text" id="apellidoM" class="inpt" autocomplete="off" placeholder=" " [(ngModel)]="segundoApellido">
            <label for="apellidoM" class="inpt_label">Apellido materno</label>
        </div>
        <div class="txt_field">
            <input type="date" id="Fecha" class="inpt" autocomplete="off" placeholder=" " [ngModel]='fechaNacimiento | date: "yyyy-MM-dd"' (ngModelChange)='fechaNacimiento=$event'>
            <label for="Fecha" class="inpt_label">Fecha de nacimiento</label>
        </div>
        <div class="txt_field">
            <input type="text" id="telefono" class="inpt" autocomplete="off" placeholder=" " [(ngModel)]="numeroTelefono">
            <label for="telefono" class="inpt_label">Número de Celular</label>
        </div>
        <div class="txt_field">
            <input type="text" id="ci" class="inpt" autocomplete="off" placeholder=" " [(ngModel)]="ci">
            <label for="ci" class="inpt_label">C.I.</label>
        </div>
        <div class="txt_field">
          <input type="text" id="correo" class="inpt" autocomplete="off" placeholder=" " [(ngModel)]="email">
          <label for="correo" class="inpt_label">Correo</label>
      </div>



      <!-- subir imagen -->

      <div class="input-group">
        <input (change)="capturar($event)" type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
        <button (click)="subirFoto()" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Subir</button>
      </div>
        <!-- <div class="txt_field">
            <select [(ngModel)]="opcion" (change)="generoChanged()" id="genero" class="inpt">
                <option value="0" selected>Selecione una opción</option>
                <option value="M">Maculino</option>
                <option value="F">Femenino</option>
                <option value="O">Otros</option>
            </select>
            <label for="genero" class="inpt_label">Género</label>
        </div> -->
    </div>
</div>
<div mat-dialog-actions class="actions">
    <button class="btn btn-primary-1" (click)="actualizar()">Editar</button>
</div>
