<!DOCTYPE html>
<html lang="es"> 
<html xmlns:th="http://www.thymeleaf.org"> 
  <head>    
    <title>Título de la WEB</title>    
    <meta charset="UTF-8">
    <meta name="title" content="Título de la WEB">
    
  </head>  
  <body> 
  <h2>Recuperar Contraseña</h2> 
  <h3><span>Hola </span><span th:text="${userName}"></span></h3> 
  <h4>Haz clik en el siguiente enlace para acceder a tu cuenta</h4>
  <a th:href="@{${url}}"><button>Ir a mi cuenta</button></a>
  </body>
</html>
